@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #005f73;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  width: 80%;
  height: 80%;
  background-color: white;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.image-section {
  flex: 1;
  background-color: #e0f2f7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card {
  width: 100%;
  max-width: 400px;
}

h1 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

/* Organização dos campos */
.label-float {
  display: flex;
  flex-direction: column; /* Empilha os elementos */
  margin-bottom: 1.5rem;
}

.label-float label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.label-float input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline: none;
}

button {
  width: 100%;
  padding: 0.7rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.login-link {
  text-align: center;
  margin-top: 1rem;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .image-section {
    height: 40%;
  }

  .form-section {
    height: 60%;
  }
}
